.header {
  height: 50px;
  padding: 0 20px;
  background: #1a1a1a;
  color: #ffffff;
  box-sizing: border-box;
  border-bottom: 1px solid #383838;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    display: flex;
    font-size: 20px;
    align-items: center;

    img {
      height: 25px;
      margin-right: 10px;
    }
  }
}